<p>loanoffer works!</p>
<html>
   <body>
    
      <!--  <input type="text" placeholder="YOUR LOAN QUOTES" ngModel><br><br>

        <input type="text" placeholder="NEW CAR LOAN(Product type)" ngModel><br><br> -->
        
       <main>
        <h1>Loan Offer</h1>
        <div class="wrapper"></div>
         <div class="container">
            <h2 class="Loan Amount"></h2>
            <p class="description"></p>
         </div>
         <div class="wrapper"></div>
         <div class="container">
            <h2 class="Best Rate"></h2>
            <p class="description"></p>
         </div>

              
        <button class="btn btn-primary">Applynow</button>
      </main>
   </body>
</html>